---
title: Bienvenue
---
<!-- Article -->
<article itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR">

	
<header class="article-header clearfix">
	<h1 class="article-title" itemprop="name">
					<a href="https://www.lucplongee.fr/" itemprop="url" title="Bienvenue">
				Bienvenue</a>
			</h1>

			</header>

<!-- Aside -->
<!-- //Aside -->
	<section class="article-content clearfix" itemprop="articleBody">
		<p><span style="font-size: 12pt;">Bienvenue sur le site de la section plongée du Lille Université Club<br></span></p>
<p style="text-align: justify;"><span style="font-size: 12pt;"><span style="font-size: medium;">Que vous souhaitiez découvrir la plongée le temps d'un baptême, suivre une formation qui vous ouvrira toutes les mers du monde ou tout simplement vous faire plaisir en plongeant à volonté, vous êtes bienvenu(e) chez nous car le club</span> est ouvert toute l'année et à tous, étudiants ou non. Plus de 40 moniteurs passionnés sont là pour vous, prés de 170 sorties proposées chaque année, le LUC Plongée est un club qui se mouille !...<br></span></p>
<p style="text-align: justify;"><span style="font-size: 12pt;">Si l'aventure aquatique vous tente, n'hésitez pas à venir nous voir. Nous aurons à coeur de mettre tout en oeuvre pour vous faire partager notre passion de la plongée...</span></p>
<p><span style="font-size: 12pt;"><img style="display: block; margin-left: auto; margin-right: auto;" src="./Accueil_files/montage_1b.jpg" alt=""></span></p> 	</section>

  <!-- footer -->
    <!-- //footer -->
</article>
<!-- //Article -->
