<section class="agnes-copyright">
<div class="container">
  <div class="row">
	<div class="col-md-6 col-sm-12 col-xs-12 copyright ">
	  

<div class="custom">
	<p style="text-align: left;"><span style="font-size: 10pt;">Copyright © 2014-2015 Section Plongée du Lille Université Club - Tous droits réservés</span></p>
<p style="text-align: left;">&nbsp;</p></div>

	</div>
	
	<div class="col-md-6 col-sm-12 col-xs-12 footer-menu copyright ">
	  
	</div>
	
  </div>
    <div class="row">
	<div class="col-md-12 poweredby text-hide">
		<a class="t3-logo t3-logo-color" href="http://themeforest.net/user/ithemeslab" title="Powered By iThemesLab" target="_blank">Powered by <strong>iThemesLab</strong></a>
	  </div>
  </div>
  </div>
</section>