---
---
<!DOCTYPE html>
<html lang="fr-fr" dir="ltr" class="com_content view-article itemid-101 home j33 mm-hover no-touch js csstransitions">
	<head>
		{% include_relative html_header.html %}
	</head>
	<body>
		<div class="t3-wrapper">
			{% include_relative whole_header.html %}
			<!-- Slideshow Start -->
			<div class="slideshow ">
				<div class="">
					<div class="moduletable">
						{% include_relative revolution_slider.html %}
					</div>
				</div>
			</div>
			<!-- //Slideshow End -->
			<div id="t3-mainbody" class="container t3-mainbody">
				<div class="row">
					<!-- MAIN CONTENT -->
					<div id="t3-content" class="t3-content col-xs-12">
						<div class="item-page clearfix">
							{{ content }}
						</div>
					</div>
					<!-- //MAIN CONTENT -->
				</div>
			</div>
			<!-- SPOTLIGHT 2 -->
			<div class="container t3-sl t3-sl-2">
				<!-- SPOTLIGHT -->
				<div class="t3-spotlight t3-spotlight-2  row">
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
								&nbsp;
							</div>
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
								&nbsp;
							</div>
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
								
							</div>
					<div class=" col-lg-3 col-md-3 col-sm-3 col-xs-6">
								&nbsp;
							</div>
				</div>
				<!-- SPOTLIGHT -->	
			</div>
			<!-- //SPOTLIGHT 2 -->
			{% include_relative footer.html %}
			{% include_relative copyright.html %}
			<!--To Top Button-->
			<div id="back-to-top" class="back-to-top">
				<i class="fa fa-angle-up"></i>
			</div>
			<!--To Top Button-->
		</div>
		{% include_relative piwik.html %}
	</body>
</html>
