<!-- FOOTER -->
<footer id="footer" class="footer">

			<!-- FOOT NAVIGATION -->
		<div class="container">
				<!-- SPOTLIGHT -->
	<div class="t3-spotlight t3-footnav  row">
					<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="t3-module module " id="Mod108"><div class="module-inner"><h3 class="module-title "><span>Nous sommes affiliés à</span></h3><div class="module-ct">

<div class="custom">
	<p>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; <a href="http://www.ffessm.fr/" target="_blank"><img src="./Accueil_files/logo_ffessm1.png" alt="" width="141" height="107"></a></p>
<p><span style="color: #ffffff; font-family: arial,helvetica,sans-serif; font-size: 10pt;">Fédération Française d'Etude et de Sports Sous-Marins</span></p></div>
</div></div></div>
							</div>
					<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="t3-module module " id="Mod106"><div class="module-inner"><h3 class="module-title "><span>Où nous trouver ?</span></h3><div class="module-ct">

<div class="custom">
	<p><img src="./Accueil_files/carte_localisation_LUC_04.png" alt="" width="338" height="133"></p></div>
</div></div></div>
							</div>
					<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<div class="t3-module module " id="Mod107"><div class="module-inner"><h3 class="module-title "><span>Retrouvez-nous sur</span></h3><div class="module-ct">

<div class="custom">
	<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; <a href="https://www.facebook.com/groups/191753367561554/?fref=ts" target="_blank"><img src="./Accueil_files/logo_facebook_LUC_02.png" alt="" width="92" height="92"></a></p></div>
</div></div></div>
							</div>
			</div>
<!-- SPOTLIGHT -->		</div>
		<!-- //FOOT NAVIGATION -->
	
</footer>
<!-- //FOOTER -->