<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--<base href="https://www.lucplongee.fr/">--><base href=".">
<title>Accueil</title>
<link href="https://www.lucplongee.fr/" rel="canonical">
<link href="https://www.lucplongee.fr/templates/itl_nefario/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
<link rel="stylesheet" href="./Accueil_files/system.css" type="text/css">
<link rel="stylesheet" href="./Accueil_files/bootstrap.css" type="text/css">
<link rel="stylesheet" href="./Accueil_files/template.css" type="text/css">
<link rel="stylesheet" href="./Accueil_files/megamenu.css" type="text/css">
<link rel="stylesheet" href="./Accueil_files/off-canvas.css" type="text/css">
<link rel="stylesheet" href="./Accueil_files/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="./Accueil_files/tooltipster.css" type="text/css">
<link rel="stylesheet" href="./Accueil_files/animate.css" type="text/css">
<link rel="stylesheet" href="./Accueil_files/css" type="text/css">
<link rel="stylesheet" href="./Accueil_files/css(1)" type="text/css">
<link rel="stylesheet" href="./Accueil_files/css(2)" type="text/css">
<link rel="stylesheet" href="./Accueil_files/css(3)" type="text/css">
<link rel="stylesheet" href="./Accueil_files/custom.css" type="text/css">
<link rel="stylesheet" href="./Accueil_files/settings.css" type="text/css">
<link rel="stylesheet" href="./Accueil_files/dynamic-captions.css" type="text/css">
<link rel="stylesheet" href="./Accueil_files/static-captions.css" type="text/css">
<script type="text/javascript" async="" defer="" src="./Accueil_files/piwik.js.téléchargement"></script><script src="./Accueil_files/jquery.min.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/jquery-noconflict.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/jquery-migrate.min.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/caption.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/bootstrap.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/jquery.tap.min.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/off-canvas.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/script.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/menu.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/modernizr.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/jquery.easing.1.3.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/jquery.hoverdir.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/jquery.tooltipster.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/wow.min.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/script.js(1).téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/nav-collapse.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/jquery.themepunch.tools.min.js.téléchargement" type="text/javascript"></script>
<script src="./Accueil_files/jquery.themepunch.revolution.min.js.téléchargement" type="text/javascript"></script>
<script type="text/javascript">
jQuery(window).on('load',  function() {
				new JCaption('img.caption');
			});
jQuery(document).ready(function(){
	jQuery('.hasTooltip').tooltip({"html": true,"container": "body"});
});
</script>

	
<!-- META FOR IOS & HANDHELD -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<style type="text/stylesheet">
	@-webkit-viewport   { width: device-width; }
	@-moz-viewport      { width: device-width; }
	@-ms-viewport       { width: device-width; }
	@-o-viewport        { width: device-width; }
	@viewport           { width: device-width; }
</style>
<script type="text/javascript">
	//<![CDATA[
	if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
		var msViewportStyle = document.createElement("style");
		msViewportStyle.appendChild(
			document.createTextNode("@-ms-viewport{width:auto!important}")
		);
		document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
	}
	//]]>
</script>
<meta name="HandheldFriendly" content="true">
<meta name="apple-mobile-web-app-capable" content="YES">
<!-- //META FOR IOS & HANDHELD -->




<!-- Le HTML5 shim and media query for IE8 support -->
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="/plugins/system/t3/base-bs3/js/respond.min.js"></script>
<![endif]-->

<!-- You can add Google Analytics here or use T3 Injection feature -->
<style type="text/css">
	.t3-megamenu.animate .animating > .mega-dropdown-menu,.t3-megamenu.animate.slide .animating > .mega-dropdown-menu > div {
		transition-duration: 300ms !important;
		-webkit-transition-duration: 300ms !important;
	}
</style>