<!-- START REVOLUTION SLIDER 4.6 fullwidth mode -->

<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; background-color: rgb(233, 233, 233); padding: 0px; max-height: 650px; height: 536px; overflow: visible;">
	<div id="rev_slider_1_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive hovered" style="max-height: 650px; height: 536px;">
<ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 650px;">
	<!-- SLIDE  1-->
	<li data-transition="" data-slotamount="7" data-masterspeed="300" data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;" class="active-revslide">
		<!-- MAIN IMAGE -->
		<div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="https://www.lucplongee.fr/images/banniere_lucplongee_2014_102.jpg" data-src="https://www.lucplongee.fr/images/banniere_lucplongee_2014_102.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://www.lucplongee.fr/images/banniere_lucplongee_2014_102.jpg&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 0; visibility: hidden;"></div></div>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 2; transform: matrix(1, 0, 0, 1, 0, 0);" class="tp-parallax-container" data-parallaxlevel="5"><div class="tp-caption large_bg_black lfl tp-resizeme rs-parallaxlevel-1 start" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; white-space: normal; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 33px; border-width: 0px; margin: 0px; padding: 8px 16px 12px; letter-spacing: 0px; font-size: 58px; left: 289.5px; top: 241.456px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -840.144, 0, 0, 1);">Bienvenue sur le site du LUC Plongée
		</div></div>
	</li>
	<!-- SLIDE  2-->
	<li data-transition="fadefromright" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;" class="active-revslide">
		<!-- MAIN IMAGE -->
		<div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="https://www.lucplongee.fr/images/banniere_lucplongee_2014_105.jpg" data-src="https://www.lucplongee.fr/images/banniere_lucplongee_2014_105.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://www.lucplongee.fr/images/banniere_lucplongee_2014_105.jpg&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 0; visibility: hidden;"></div></div>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption large_bg_black lfr ltb tp-resizeme rs-parallaxlevel-0 start" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="1000" data-start="700" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 2; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 33px; border-width: 0px; margin: 0px; padding: 8px 16px 12px; letter-spacing: 0px; font-size: 58px; left: 242px; top: 241.456px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 491.39, 0, 1);">Le monde sous-marin à la portée de tous
		</div>
	</li>
	<!-- SLIDE  3-->
	<li data-transition="fadefromleft" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;" class="active-revslide">
		<!-- MAIN IMAGE -->
		<div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="https://www.lucplongee.fr/images/banniere_lucplongee_2014_109.jpg" data-src="https://www.lucplongee.fr/images/banniere_lucplongee_2014_109.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://www.lucplongee.fr/images/banniere_lucplongee_2014_109.jpg&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 1; visibility: inherit;"></div></div>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption large_bg_black sfr tp-resizeme rs-parallaxlevel-0 start" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 33px; border-width: 0px; margin: 0px; padding: 8px 16px 12px; letter-spacing: 0px; font-size: 58px; left: 275.5px; top: 241.456px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 41.224, 0, 0, 1);">Des plongées organisées toute l'année
		</div>
	</li>
	<!-- SLIDE  4-->
	<li data-transition="boxslide" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;" class="active-revslide">
		<!-- MAIN IMAGE -->
		<div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="https://www.lucplongee.fr/images/banniere_lucplongee_2014_110.jpg" data-src="https://www.lucplongee.fr/images/banniere_lucplongee_2014_110.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://www.lucplongee.fr/images/banniere_lucplongee_2014_110.jpg&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 0; visibility: hidden;"></div></div>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption large_bg_black skewfromleft skewtoleft tp-resizeme rs-parallaxlevel-0 start" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 33px; border-width: 0px; margin: 0px; padding: 8px 16px 12px; letter-spacing: 0px; font-size: 58px; left: 359px; top: 241.456px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, -0.57357, 0.81915, 0, 0, 0, 0, 1, -0.0025, -1354.62, 0, 0, 1);">De l'apnée : la plongée bien-être
		</div>
	</li>
	<!-- SLIDE  5-->
	<li data-transition="fadetobottomfadefromtop" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;" class="active-revslide">
		<!-- MAIN IMAGE -->
		<div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="https://www.lucplongee.fr/images/banniere_lucplongee_2014_108.jpg" data-src="https://www.lucplongee.fr/images/banniere_lucplongee_2014_108.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://www.lucplongee.fr/images/banniere_lucplongee_2014_108.jpg&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 0; visibility: hidden;"></div></div>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption large_bg_black tp-fade tp-resizeme rs-parallaxlevel-0 start" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 33px; border-width: 0px; margin: 0px; padding: 8px 16px 12px; letter-spacing: 0px; font-size: 58px; left: 337px; top: 241.456px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">Des formations pour tous niveaux
		</div>
	</li>
	<!-- SLIDE  6-->
	<li data-transition="zoomout" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" style="width: 100%; height: 100%; overflow: hidden; visibility: inherit; opacity: 1; z-index: 20;" class="active-revslide current-sr-slide-visible">
		<!-- MAIN IMAGE -->
		<div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="https://www.lucplongee.fr/images/banniere_lucplongee_2014_111.jpg" data-src="https://www.lucplongee.fr/images/banniere_lucplongee_2014_111.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://www.lucplongee.fr/images/banniere_lucplongee_2014_111.jpg&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 1; visibility: inherit;"></div></div>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption large_bg_black sfb stb tp-resizeme rs-parallaxlevel-0 start" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="1000" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 33px; border-width: 0px; margin: 0px; padding: 8px 16px 12px; letter-spacing: 0px; font-size: 58px; left: 366px; top: 241.456px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">Passez nous voir, vous verrez...
		</div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="display: none; visibility: hidden; width: 48.3778%; transform: translate3d(0px, 0px, 0px);"></div>	<div class="tp-loader spinner2" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
			
			<script type="text/javascript">
/******************************************
	-	PREPARE PLACEHOLDER FOR SLIDER	-
******************************************/
var setREVStartSize = function() {
	var	tpopt = new Object(); 
	tpopt.startwidth = 1920;
	tpopt.startheight = 650;
	tpopt.container = jQuery('#rev_slider_1_1');
	tpopt.fullScreen = "off";
	tpopt.forceFullWidth="off";

	tpopt.container.closest(".rev_slider_wrapper").css({height:tpopt.container.height()});
	tpopt.width=parseInt(tpopt.container.width(),0);
	tpopt.height=parseInt(tpopt.container.height(),0);
	tpopt.bw=tpopt.width/tpopt.startwidth;
	tpopt.bh=tpopt.height/tpopt.startheight;
	if(tpopt.bh>tpopt.bw)
		tpopt.bh=tpopt.bw;
	if(tpopt.bh<tpopt.bw)
		tpopt.bw=tpopt.bh;
	if(tpopt.bw<tpopt.bh)
		tpopt.bh=tpopt.bw;
	if(tpopt.bh>1){
		tpopt.bw=1;
		tpopt.bh=1
	}
	if(tpopt.bw>1){
		tpopt.bw=1;
		tpopt.bh=1
	}
	tpopt.height=Math.round(tpopt.startheight*(tpopt.width/tpopt.startwidth));
	if(tpopt.height>tpopt.startheight&&tpopt.autoHeight!="on")
		tpopt.height=tpopt.startheight;
	if(tpopt.fullScreen=="on"){
		tpopt.height=tpopt.bw*tpopt.startheight;
		var cow=tpopt.container.parent().width();
		var coh=jQuery(window).height();
		if(tpopt.fullScreenOffsetContainer!=undefined){
			try{
				var offcontainers=tpopt.fullScreenOffsetContainer.split(",");
				jQuery.each(offcontainers,function(e,t){
					coh=coh-jQuery(t).outerHeight(true);
					if(coh<tpopt.minFullScreenHeight)
						coh=tpopt.minFullScreenHeight
				})
			}catch(e){
			}
		}
		tpopt.container.parent().height(coh);
		tpopt.container.height(coh);
		tpopt.container.closest(".rev_slider_wrapper").height(coh);
		tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh);
		tpopt.container.css({height:"100%"});
		tpopt.height=coh;
	}else{
		tpopt.container.height(tpopt.height);
		tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height);
		tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height);
	}
};

/* CALL PLACEHOLDER */
setREVStartSize();

var tpj=jQuery;				
tpj.noConflict();				
var revapi1;
				
				
				
tpj(document).ready(function() {		
	if(tpj('#rev_slider_1_1').revolution == undefined){
		revslider_showDoubleJqueryError('#rev_slider_1_1');
	}else{
	   revapi1 = tpj('#rev_slider_1_1').show().revolution({
			dottedOverlay:"none",
			delay:4500,
			startwidth:1920,
			startheight:650,
			hideThumbs:200,
			
			thumbWidth:100,
			thumbHeight:50,
			thumbAmount:5,
										
			simplifyAll:"off",						
			navigationType:"none",
			navigationArrows:"none",
			navigationStyle:"round",						
			touchenabled:"on",
			onHoverStop:"off",						
			nextSlideOnWindowFocus:"off",
			
			swipe_threshold: 75,
			swipe_min_touches: 1,
			drag_block_vertical: false,
			parallax:"mouse",
			parallaxBgFreeze:"off",
			parallaxLevels:[5,10,15,20,25,30,35,40,45,50],
															
			keyboardNavigation:"off",
			
			navigationHAlign:"center",
			navigationVAlign:"bottom",
			navigationHOffset:0,
			navigationVOffset:20,

			soloArrowLeftHalign:"left",
			soloArrowLeftValign:"center",
			soloArrowLeftHOffset:20,
			soloArrowLeftVOffset:0,

			soloArrowRightHalign:"right",
			soloArrowRightValign:"center",
			soloArrowRightHOffset:20,
			soloArrowRightVOffset:0,
					
			shadow:0,
			fullWidth:"on",
			fullScreen:"off",
			spinner:"spinner2",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",						
			forceFullWidth:"off",
			hideTimerBar:"on",						
			hideThumbsOnMobile:"off",
			hideNavDelayOnMobile:1500,
			hideBulletsOnMobile:"off",
			hideArrowsOnMobile:"off",
			hideThumbsUnderResolution:0,
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			startWithSlide:0,
			isJoomla: true
		});
	}
});	/*ready*/
			</script>
			
			<style type="text/css">
	#rev_slider_1_1_wrapper .tp-loader.spinner2{ background-color: #FFFFFF !important; }
</style>
<div style="visibility:hidden;display:none" class="tp-leftarrow tparrows round"><div class="tp-arr-allwrapper"><div class="tp-arr-iwrapper"><div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(&quot;https://www.lucplongee.fr/images/banniere_lucplongee_2014_108.jpg&quot;);"></div><div class="tp-arr-imgholder2"></div><div class="tp-arr-titleholder"></div><div class="tp-arr-subtitleholder"></div></div></div></div><div style="visibility:hidden;display:none" class="tp-rightarrow tparrows round"><div class="tp-arr-allwrapper"><div class="tp-arr-iwrapper"><div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(&quot;https://www.lucplongee.fr/images/banniere_lucplongee_2014_102.jpg&quot;);"></div><div class="tp-arr-imgholder2"></div><div class="tp-arr-titleholder"></div><div class="tp-arr-subtitleholder"></div></div></div></div></div>
<!-- END REVOLUTION SLIDER -->