<div id="t3-off-canvas" class="t3-off-canvas  off-canvas-effect-14 off-canvas-left">

  <div class="t3-off-canvas-header">
    <h2 class="t3-off-canvas-header-title">Sidebar</h2>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>

  <div class="t3-off-canvas-body">
    <div class="t3-module module_menu " id="Mod126">
		<div class="module-inner">
			<h3 class="module-title "><span>LUC Plongée</span></h3>
				<div class="module-ct">
<ul class="nav  nav-pills nav-stacked  nav-pills">
	<li class="item-101 current active">
		<a href="https://www.lucplongee.fr/">Accueil</a>
	</li>
	<li class="item-128 deeper dropdown parent">
		<a class="dropdown-toggle" href="https://www.lucplongee.fr/index.php/formations" data-toggle="dropdown">Formations<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li class="item-199"><a href="https://www.lucplongee.fr/index.php/formations/agenda">Calendrier</a></li>
			<li class="item-217"><a href="https://www.lucplongee.fr/index.php/formations/responsables">Responsables</a></li>
			<li class="item-129 parent"><a href="https://www.lucplongee.fr/index.php/formations/statut-de-plongeur">Cursus plongeur</a></li>
			<li class="item-225"><a href="https://www.lucplongee.fr/index.php/formations/fiches-de-suivi">Fiches de compétences</a></li>
			<li class="item-247"><a href="https://www.lucplongee.fr/index.php/formations/fiches-de-suivi-2">Valider un brevet</a></li>
			<li class="item-248"><a href="http://www.ffessm.fr/pagectn.asp?pages_numero=334" target="_blank">Memento du plongeur</a></li>
			<li class="item-136"><a href="http://www.ffessm.fr/pages_manuel.asp" target="_blank">Manuel de Formation Technique</a></li>
			<li class="item-137"><a href="https://www.lucplongee.fr/index.php/formations/e-learning-niveau-4">E-learning : Niveau 4</a></li>
			<li class="item-214"><a href="https://www.lucplongee.fr/index.php/formations/cursus-apnee">Cursus apnéiste</a></li>
		</ul>
	</li>
	<li class="item-213 deeper dropdown parent">
		<a class="dropdown-toggle" href="https://www.lucplongee.fr/index.php/documents-utiles" data-toggle="dropdown">Pratique<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li class="item-223"><a href="https://www.lucplongee.fr/index.php/documents-utiles/rechercher-sur-le-site">Rechercher sur le site</a></li>
			<li class="item-135"><a href="https://www.lucplongee.fr/index.php/documents-utiles/reglement-technique">Règlement technique</a></li>
			<li class="item-215"><a href="https://www.lucplongee.fr/index.php/documents-utiles/documents-utiles">Téléchargements</a></li>
			<li class="item-155"><a href="https://www.lucplongee.fr/index.php/documents-utiles/liens">Liens</a></li>
		</ul>
	</li>
</ul>
			</div>
		</div>
	</div>
  </div>

</div> <!-- Need this wrapper for off-canvas menu. Remove if you don't use of-canvas -->
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header hidden-md hidden-lg">
	<button type="button" class="navbar-toggle hidden" data-toggle="collapse" data-target=".t3-navbar-collapse">
		<i class="fa fa-bars"></i>
	</button>
	<button class="btn btn-primary off-canvas-toggle " type="button" data-pos="left" data-nav="#t3-off-canvas" data-effect="off-canvas-effect-14">
	  <i class="fa fa-bars"></i>
	</button>
</div>
<!-- HEADER -->
<header id="t3-header" class="t3-header">
	<div class="container">
		<div class="main-container">
			<div class="row">
				<!-- LOGO -->
				<div class="col-xs-12 col-sm-3 logo">
					<div id="logo-img" class="logo-image">
						<a href="https://www.lucplongee.fr/" title="LUC Plongee">
							<img class="logo-img hidden-sm hidden-xs" 
								 src="./Accueil_files/Logo_lucplonge_10.jpg" 
								 alt="LUC Plongee">
							<span>LUC Plongee</span>
						</a>
						<small class="site-slogan"></small>
					</div>
				</div>
				<!-- //LOGO -->
				<div class="col-sm-9  hidden-sm hidden-xs">
					<div class="t3-navbar navbar-default navbar-collapse collapse pull-right">
						<div class="t3-megamenu animate slide" data-duration="300" data-responsive="true">
<ul class="nav navbar-nav level0">
	<li class="current active" data-id="101" data-level="1">
		<a class="" href="https://www.lucplongee.fr/" data-target="#">Accueil </a>
	</li>
	<li class="dropdown mega" data-id="128" data-level="1">
		<a class=" dropdown-toggle" href="https://www.lucplongee.fr/index.php/formations" data-target="#" data-toggle="dropdown">Formations <b class="caret"></b></a>

		<div class="nav-child dropdown-menu mega-dropdown-menu">
			<div class="mega-dropdown-inner">
				<div class="row">
					<div class="col-xs-12 mega-col-nav" data-width="12">
						<div class="mega-inner">
							<ul class="mega-nav level1">
								<li data-id="199" data-level="2">
									<a class="" href="https://www.lucplongee.fr/index.php/formations/agenda" data-target="#">Calendrier </a>
								</li>
								<li data-id="217" data-level="2">
									<a class="" href="https://www.lucplongee.fr/index.php/formations/responsables" data-target="#">Responsables </a>
								</li>
								<li class="dropdown-submenu mega" data-id="129" data-level="2">
									<a class="" href="https://www.lucplongee.fr/index.php/formations/statut-de-plongeur" data-target="#">Cursus plongeur </a>

									<div class="nav-child dropdown-menu mega-dropdown-menu">
										<div class="mega-dropdown-inner">
											<div class="row">
												<div class="col-xs-12 mega-col-nav" data-width="12">
													<div class="mega-inner">
														<ul class="mega-nav level2">
															<li data-id="211" data-level="3">
																<a class="" href="https://www.lucplongee.fr/index.php/formations/statut-de-plongeur/niveaux-de-plongeur" data-target="#">Niveaux de plongeur </a>
															</li>
															<li data-id="212" data-level="3">
																<a class="" href="https://www.lucplongee.fr/index.php/formations/statut-de-plongeur/niveaux-d-enseignement" data-target="#">Niveaux d'enseignement </a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- //HEADER -->