.tp-caption.large_bg_black{font-size:70px;line-height:40px;font-weight:800;font-family:"Open Sans";color:rgb(255,255,255);text-decoration:none;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.3);padding:10px 20px 15px;border-width:0px;border-color:rgb(180,116,157);border-style:none}

.large_bg_black{font-size:70px;line-height:40px;font-weight:800;font-family:"Open Sans";color:rgb(255,255,255);text-decoration:none;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.3);padding:10px 20px 15px;border-width:0px;border-color:rgb(180,116,157);border-style:none}