@media (max-width: 767px) {
  .always-show .mega > .mega-dropdown-menu,
  .always-show .dropdown-menu {
    display: block !important;
    position: static;
  }
  .open .dropdown-menu {
    display: block;
  }
}
.t3-logo,
.t3-logo-small {
  display: block;
  text-decoration: none;
  text-align: left;
  background-repeat: no-repeat;
  background-position: center;
}
.t3-logo {
  width: 182px;
  height: 50px;
}
.t3-logo-small {
  width: 60px;
  height: 30px;
}
.t3-logo,
.t3-logo-color {
  background-image: url("//joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-color.png");
}
.t3-logo-small,
.t3-logo-small.t3-logo-color {
  background-image: url("//joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-color.png");
}
.t3-logo-dark {
  background-image: url("//joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-dark.png");
}
.t3-logo-small.t3-logo-dark {
  background-image: url("//joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-dark.png");
}
.t3-logo-light {
  background-image: url("//joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-light.png");
}
.t3-logo-small.t3-logo-light {
  background-image: url("//joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-light.png");
}
@media (max-width: 767px) {
  .logo-control .logo-img-sm {
    display: block;
  }
  .logo-control .logo-img {
    display: none;
  }
}
@media (min-width: 768px) {
  .logo-control .logo-img-sm {
    display: none;
  }
  .logo-control .logo-img {
    display: block;
  }
}
#community-wrap .collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  display: block;
}
.body-data-holder:before {
  display: none;
  content: "grid-float-breakpoint:768px screen-xs:480px screen-sm:768px screen-md:992px screen-lg:1200px";
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #b980a4;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #98547f;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
th,
td {
  line-height: 1.42857143;
  text-align: left;
  vertical-align: top;
}
th {
  font-weight: bold;
}
td,
tr td {
  border-top: 1px solid #dddddd;
}
.cat-list-row0:hover,
.cat-list-row1:hover {
  background: #f5f5f5;
}
.cat-list-row1,
tr.cat-list-row1 td {
  background: #f9f9f9;
}
table.contentpane,
table.tablelist,
table.category,
table.admintable,
table.blog {
  width: 100%;
}
table.contentpaneopen {
  border: 0;
}
.star {
  color: #ffcc00;
}
.red {
  color: #cc0000;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.wrap {
  width: auto;
  clear: both;
}
.center,
.table td.center,
.table th.center {
  text-align: center;
}
.element-invisible {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-muted {
  color: #999999;
}
.text-primary {
  color: #b980a4;
}
a.text-primary:hover {
  color: #a75f8c;
}
.text-success {
  color: #468847;
}
a.text-success:hover {
  color: #356635;
}
.text-info {
  color: #3a87ad;
}
a.text-info:hover {
  color: #2d6987;
}
.text-warning {
  color: #c09853;
}
a.text-warning:hover {
  color: #a47e3c;
}
.text-danger {
  color: #b94a48;
}
a.text-danger:hover {
  color: #953b39;
}
.bg-primary {
  color: #fff;
  background-color: #b980a4;
}
a.bg-primary:hover {
  background-color: #a75f8c;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.highlight {
  background-color: #FFC;
  font-weight: bold;
  padding: 1px 4px;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #999999;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
  content: "";
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.btn-actions {
  text-align: center;
}
.features-list {
  margin-top: 60px;
  
}
.features-list .page-header {
  border: 0;
  text-align: center;
}
.features-list .page-header h1 {
  font-size: 46px;
}
.features-list .feature-row {
  overflow: hidden;
  min-height: 200px;
  color: #696f72;
  border-top: 1px solid #e0e2e3;
  padding: 60px 0 0;
  text-align: center;
}
.features-list .feature-row:last-child {
  border-bottom: 1px solid #e0e2e3;
  margin-bottom: 60px;
}
.features-list .feature-row h3 {
  font-size: 28px;
}
.features-list .feature-row div:first-child {
  padding-left: 0;
}
.features-list .feature-row div:last-child {
  padding-right: 0;
}
.features-list .feature-row div:first-child.feature-img img {
  float: left;
}
.features-list .feature-row div:last-child.feature-img img {
  float: right;
}
.jumbotron h2 {
  font-size: 46px;
}
.jumbotron iframe {
  margin-top: 20px;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 20px;
}
.radio label,
.checkbox label {
  display: inline;
}
.form-control-static {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
  }
  .form-inline .form-control {
    display: inline-block;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
  }
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .form-group label {
  font-weight: normal;
}
.form-horizontal .form-group input[type=text],
.form-horizontal .form-group input[type=email] {
  width: 100%;
  height: 40px;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 16px;
}
.form-horizontal .form-group textarea {
  border-radius: 0;
  box-shadow: none;
  height: 200px !important;
}
.form-horizontal .form-control-static {
  padding-top: 7px;
}
.btn {
  border-radius: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-readmore {
  color: #888;
  background-color: #fafafa;
  border-color: #fafafa;
  font-weight: 300;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}
.btn-readmore:hover {
  color: #ffffff;
  background-color: #b980a4;
  border-color: #b980a4;
}
.btn-purchase {
  background-color: #ffffff;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-purchase:hover {
  background-color: #000;
  color: #ffffff;
}
.btn-purchase-2 {
  background-color: #b980a4;
  padding: 13px 40px;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
}
.btn-purchase-2:hover {
  background-color: #000;
  color: #ffffff;
}
.btn-slide {
  background-color: transparent;
  padding: 14px 40px;
  font-size: 16px;
  font-weight: 300;
  color: #b980a4 !important;
  border: 1px solid #000000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
}
.btn-slide:hover {
  background-color: #b980a4;
  color: #ffffff !important;
  border: 1px solid #b980a4;
}
.btn-slide-white {
  background-color: transparent;
  padding: 14px 40px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff !important;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
}
.btn-slide-white:hover {
  background-color: #ffffff;
  color: #b980a4 !important;
  border: 1px solid #ffffff;
}
.btn-inverse {
  color: #ffffff;
  background-color: #333333;
  border-color: #262626;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #1a1a1a;
  border-color: #080808;
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  background-image: none;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #333333;
  border-color: #262626;
}
.btn-inverse .badge {
  color: #333333;
  background-color: #ffffff;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.inputbox {
  box-shadow: none;
  border-radius: 0;
}
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
.inputbox::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
.inputbox:-ms-input-placeholder {
  color: #999999;
}
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.inputbox::-webkit-input-placeholder {
  color: #999999;
}
textareaselect,
textareatextarea,
textareainput[type="text"],
textareainput[type="password"],
textareainput[type="datetime"],
textareainput[type="datetime-local"],
textareainput[type="date"],
textareainput[type="month"],
textareainput[type="time"],
textareainput[type="week"],
textareainput[type="number"],
textareainput[type="email"],
textareainput[type="url"],
textareainput[type="search"],
textareainput[type="tel"],
textareainput[type="color"],
textarea.inputbox {
  height: auto;
}
@media screen and (min-width: 768px) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .inputbox {
    width: auto;
  }
}
select,
select.form-control,
select.inputbox,
select.input {
  padding-right: 5px;
}
.input-append .active,
.input-prepend .active {
  background-color: #bbff33;
  border-color: #669900;
}
.invalid {
  border-color: #cc0000;
}
label.invalid {
  color: #cc0000;
}
input.invalid {
  border: 1px solid #cc0000;
}

.dropdown-menu {
  padding: 0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.dropdown-menu > li > a {
  padding: 5px 20px;
  font-weight: 300;
}
.dropdown-header {
  padding: 3px 20px;
  font-size: 14px;
}
.dropdown-header a {
  color: #999999;
}
.dropdown-submenu > .dropdown-menu {
  margin-top: 0;
}
.dropdown-submenu > a:after {
  border-left-color: #333333;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #262626;
}
.nav > li > .separator {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .nav > li > .separator {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 991px) {
  .nav > li > span {
    padding: 10px 15px;
    display: inline-block;
  }
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav .caret {
  border-top-color: #b980a4;
  border-bottom-color: #b980a4;
}
.nav a:hover .caret {
  border-top-color: #98547f;
  border-bottom-color: #98547f;
}
.t3-navhelper {
  background: #f5f5f5;
  border-top: 1px solid #eeeeee;
  color: #555555;
  padding: 5px 0;
}
.breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  font-weight: 300;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
}
.breadcrumb > li a:hover {
  text-decoration: none;
}
.breadcrumb > .active {
  color: #999999;
}
.breadcrumb > .active + li:before {
  content: "";
  padding: 0;
}
.breadcrumb > .active .hasTooltip {
  padding-right: 10px;
}
.breadcrumb .divider {
  display: none;
}
.pagination {
  display: block;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .pagination {
    float: left;
  }
}
.pagination .pagination {
  display: inline-block;
}
.counter {
  display: inline-block;
  margin-top: 20px;
  padding: 6px 12px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .counter {
    float: right;
  }
}

.navbar-toggle {
  padding: 0;
  height: 35px;
  line-height: 35px;
  width: 35px;
  margin-left: 15px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 29px;
  padding-bottom: 30px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
@media (min-width: 768px) {
  .navbar-nav {
    margin: 0;
  }
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #919191;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #787878;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #919191;
}
.navbar-default .navbar-nav > li > a {
  color: #919191;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b980a4;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > .nav-header {
  color: #919191;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b980a4;
  background-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #b980a4;
  border-bottom-color: #b980a4;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #b980a4;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #b980a4;
  border-bottom-color: #b980a4;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #919191;
  border-bottom-color: #919191;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #919191;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b980a4;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b980a4;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #919191;
}
.navbar-default .navbar-link:hover {
  color: #b980a4;
}
.t3-mainnav {
  border-left: 0;
  border-right: 0;
  margin-bottom: 0;
  border-radius: 0;
}
.t3-mainnav .t3-navbar {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .t3-mainnav .t3-navbar-collapse {
    display: none !important;
  }
}
.t3-mainnav .t3-navbar-collapse .navbar-nav {
  margin: 0 -15px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav li > a .fa {
  margin-right: 5px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li > a {
  border-top: 1px solid transparent;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li:first-child > a {
  border-top: 0;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .dropdown > a .caret {
  position: absolute;
  top: 40%;
  right: 12px;
}
.navbar-fixed-top {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  padding: 2px 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
.navbar-fixed-top .navbar-nav > li > a {
  padding-top: 18px;
  padding-bottom: 20px;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toRightFromLeft {
  49% {
    -moz-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toBottomFromTop {
  49% {
    -moz-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

.t3-module {
  background: transparent;
  color: inherit;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .t3-module {
    margin-bottom: 20px;
  }
}
.t3-module .module-inner {
  padding: 0;
}
@media screen and (max-width: 768px) {
  .footer .t3-module {
    margin-bottom: 20px;
  }
}
.module-title {
  background: transparent;
  color: #444444;
  font-size: 34px;
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: 300;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .module-title {
    margin-bottom: 20px;
  }
}
.footer {
  color: #888888;
}
.footer p {
  color: #888888;
}
.footer .module-title {
  text-transform: inherit;
}
.t3-sidebar .module-title {
  font-size: 24px;
  margin: 0 0 10px 0;
  text-transform: inherit;
}
.t3-sidebar .media-body {
  font-weight: 300;
}
.t3-sidebar .nav {
  font-weight: 300;
}
.module-ct {
  background: transparent;
  color: inherit;
  padding: 0;
}
.module-ct:before,
.module-ct:after {
  content: " ";
  display: table;
}
.module-ct:after {
  clear: both;
}
.module-ct > ul,
.module-ct .custom > ul,
.module-ct > ol,
.module-ct .custom > ol {
  margin-left: 20px;
  padding-left: 0;
}
.module-ct > ul.unstyled,
.module-ct .custom > ul.unstyled,
.module-ct > ol.unstyled,
.module-ct .custom > ol.unstyled {
  padding-left: 0;
}
.module-ct > ul.nav,
.module-ct .custom > ul.nav,
.module-ct > ol.nav,
.module-ct .custom > ol.nav {
  padding-left: 0;
  margin-left: 0;
}
.module_menu .nav > li > a,
.module_menu .nav > li > .separator {
  padding: 6px 5px;
  display: block;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
}
#login-form ul.unstyled {
  margin-top: 20px;
  padding-left: 20px;
}
#login-form #form-login-remember label {
  font-weight: normal;
}
.banneritem a {
  font-weight: bold;
}
.bannerfooter {
  border-top: 1px solid #eeeeee;
  font-size: 12px;
  padding-top: 10px;
  text-align: right;
}
.categories-module,
ul.categories-module,
.category-module,
ul.category-module {
  margin: 0;
}
.categories-module li,
ul.categories-module li,
.category-module li,
ul.category-module li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid #eeeeee;
}
.categories-module li:first-child,
ul.categories-module li:first-child,
.category-module li:first-child,
ul.category-module li:first-child {
  border-top: 0;
}
.categories-module h4,
ul.categories-module h4,
.category-module h4,
ul.category-module h4 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.feed h4 {
  font-weight: bold;
}
.feed .newsfeed,
.feed ul.newsfeed {
  border-top: 1px solid #eeeeee;
}
.feed .newsfeed .feed-link,
.feed ul.newsfeed .feed-link,
.feed .newsfeed h5.feed-link,
.feed ul.newsfeed h5.feed-link {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.latestusers,
ul.latestusers {
  margin-left: 0;
}
.latestusers li,
ul.latestusers li {
  background: #eeeeee;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
}
.stats-module dt,
.stats-module dd {
  display: inline-block;
  margin: 0;
}
.stats-module dt {
  font-weight: bold;
  width: 35%;
}
.stats-module dd {
  width: 60%;
}
.tagspopular ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.tagspopular ul > li {
  color: #555555;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.tagspopular ul > li > a {
  background: #eeeeee;
  border-radius: 3px;
  color: #555555;
  display: block;
  padding: 2px 5px;
}
.tagspopular ul > li > a:hover,
.tagspopular ul > li > a:focus,
.tagspopular ul > li > a:active {
  background: #98547f;
  color: #ffffff;
  text-decoration: none;
}
.tagssimilar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagssimilar ul > li {
  border-bottom: 1px solid #eeeeee;
  padding: 8px 0;
}
.tagssimilar ul > li > a {
  color: #555555;
}
.tagssimilar ul > li > a:hover,
.tagssimilar ul > li > a:focus,
.tagssimilar ul > li > a:active {
  color: #98547f;
}
.module-ct > ol.breadcrumb {
  padding: 6px 12px;
  margin-left: 0;
}

.items-leading .leading {
  margin-bottom: 40px;
}
.items-row .item {
  margin-bottom: 40px;
}
.divider-vertical {
  margin: 0 0 40px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.article-aside {
  color: #999999;
  font-size: 13px;
  margin-bottom: 20px;
}
.article-info {
  margin: 0;
  width: 85%;
}
.article-info .article-info-term {
  display: none;
}
.article-info dd {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  white-space: nowrap;
}
.article-info dd strong {
  font-weight: bold;
}
.article-footer {
  color: #999999;
  font-size: 12px;
  margin-bottom: 20px;
}
.article-intro img,
.article-content img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.article-intro img[align=left],
.article-content img[align=left],
.article-intro .img_caption.left,
.article-content .img_caption.left,
.article-intro .pull-left.item-image,
.article-content .pull-left.item-image {
  margin: 0 30px 20px 0;
}
.article-intro img[align=right],
.article-content img[align=right],
.article-intro .img_caption.right,
.article-content .img_caption.right,
.article-intro .pull-right.item-image,
.article-content .pull-right.item-image {
  margin: 0 0 20px 30px;
}
@media (max-width: 768px) {
  .article-content iframe {
    width: 100% !important;
    height: auto;
  }
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  position: relative;
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  margin-bottom: 20px;
  max-width: 100%;
}
.img-fulltext-left {
  float: left;
  margin-right: 20px;
}
.img-fulltext-right {
  float: right;
  margin-left: 20px;
}
.img-intro-none img,
.img-intro-left img,
.img-intro-right img,
.img-fulltext-none img,
.img-fulltext-left img,
.img-fulltext-right img {
  margin: 0;
}
.img_caption img {
  margin-bottom: 1px !important;
}
.img_caption p.img_caption {
  background: #eeeeee;
  color: #555555;
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  clear: both;
}
@media screen and (max-width: 767px) {
  article img[align=left],
  .img_caption.left,
  article img[align=right],
  .img_caption.right,
  .img-fulltext-left,
  .img-fulltext-right {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
}
article aside .btn-group > .dropdown-toggle,
article aside .btn-group > .dropdown-toggle:hover,
article aside .btn-group > .dropdown-toggle:active,
article aside .btn-group > .dropdown-toggle:focus {
  padding: 2px 5px;
}
article aside .btn-group > .dropdown-toggle .caret {
  margin-left: 2px;
}
.row-even,
.row-odd {
  padding: 5px;
  width: 99%;
  border-bottom: 1px solid #dddddd;
}
.row-odd {
  background-color: transparent;
}
.row-even {
  background-color: #f9f9f9;
}
.blog-row-rule,
.blog-item-rule {
  border: 0;
}
.row-fluid .row-reveal {
  visibility: hidden;
}
.row-fluid:hover .row-reveal {
  visibility: visible;
}
.nav-list > li.offset > a {
  padding-left: 30px;
  font-size: 12px;
}
.list-striped,
.row-striped {
  list-style: none;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
  margin-left: 0;
  padding-left: 0;
}
.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
  border-bottom: 1px solid #dddddd;
  padding: 10px 15px;
}
.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {
  background-color: #f9f9f9;
}
.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {
  background-color: #f5f5f5;
}
.row-striped .row-fluid {
  width: 97%;
}
.row-striped .row-fluid [class*="span"] {
  min-height: 10px;
}
.row-striped .row-fluid [class*="span"] {
  margin-left: 8px;
}
.row-striped .row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.list-condensed li {
  padding: 5px 10px;
}
.row-condensed .row,
.row-condensed .row-fluid {
  padding: 5px 10px;
}
.list-bordered,
.row-bordered {
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  margin-left: 0;
  border: 1px solid #dddddd;
}
.login-wrap .other-links ul {
  padding-left: 15px;
}
.form-register fieldset {
  padding: 0 0 10px;
}
.form-register p {
  margin: 0 0 5px;
}
.form-register p.form-des {
  margin: 15px 0;
}
.form-register label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.form-register .input,
.form-register .inputbox {
  margin-left: 10px;
  width: 200px;
}
.form-register .btn,
.form-register .button {
  margin-left: 140px;
}
.registration fieldset dt {
  margin-right: 5px;
}
.admintable textarea {
  max-width: 90% !important;
  resize: none;
}
.com_mailto body {
  padding: 10px;
}
.com_mailto .t3-mainbody {
  padding-top: 0;
  padding-bottom: 0;
}
.com_mailto .t3-content {
  width: auto;
}
#mailto-window {
  background: #fff;
  margin: 10px 0 20px;
  padding: 0;
  position: relative;
}
#mailto-window h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
#mailtoForm .formelm {
  padding: 5px 0;
  vertical-align: middle;
  overflow: hidden;
}
#mailtoForm .formelm label {
  display: inline-block;
  float: left;
  font-weight: bold;
  vertical-align: middle;
  width: 100px;
}
#mailtoForm p {
  margin-top: 20px;
}
#mailtoForm .input,
#mailtoForm .inputbox {
  width: 65%;
}
#mailtoForm .btn,
#mailtoForm .button,
#mailtoForm button {
  margin-right: 5px;
}
.user-details {
  padding: 10px 0;
}
.user-details p {
  margin: 0 0 5px;
}
.user-details label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.user-details .input,
.user-details .inputbox {
  margin-left: 10px;
  width: 200px;
}
.user-details .btn,
.user-details button {
  margin-left: 140px;
}
.user-details .paramlist .paramlist_key {
  padding: 0 0 5px;
  width: 130px;
}
.user-details .paramlist .paramlist_value {
  padding: 0 0 5px;
}
.user-details .user_name span {
  font-weight: bold;
  padding-left: 10px;
}
.reset .form-validate p,
.remind .form-validate p {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 4px;
}
.reset .form-validate fieldset dl,
.remind .form-validate fieldset dl {
  margin: 0;
}
.reset .form-validate fieldset dt,
.remind .form-validate fieldset dt {
  margin: 4px 0 0 0;
}
.profile-edit input {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .profile-edit input {
    float: left;
    width: 50%;
  }
}
.profile-edit select {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .profile-edit select {
    float: left;
    width: 50%;
  }
}
.profile-edit select + button {
  margin-left: 5px;
}
#searchForm:before,
#searchForm:after {
  content: " ";
  display: table;
}
#searchForm:after {
  clear: both;
}
#searchForm fieldset {
  margin: 20px 0;
}
#searchForm legend {
  margin-bottom: 10px;
}
#searchForm select {
  width: auto;
  display: inline-block;
  margin-left: 5px;
  padding-left: 5px;
}
#searchForm .form-limit {
  margin-top: 20px;
}
#searchForm .form-limit .counter {
  margin-top: 0;
}
#search-form ul#finder-filter-select-list {
  margin-left: 0;
  padding-left: 0;
}
#search-form ul#finder-filter-select-list li {
  list-style: none;
  padding: 10px 0;
}
#search-form ul#finder-filter-select-list li label {
  width: 150px;
}
#search-form .word .form-group {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #searchForm .radio-inline,
  #searchForm .checkbox-inline {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}
.search-results {
  margin-top: 20px;
  margin-left: 0;
  padding-left: 0;
}
.search-results .result-title {
  font-size: 16px;
  margin-top: 20px;
}
.search-results .result-category {
  font-size: 12px;
  color: #999999;
}
.search-results .result-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
.search-results .result-url {
  color: #555555;
  margin-top: 20px;
}
.search-results .result-created {
  font-size: 12px;
  color: #999999;
}
div.finder {
  margin-bottom: 20px;
}
#searchForm .phrases-box input[type="radio"] {
  vertical-align: top;
  margin-top: 3px;
}
@media (max-width: 768px) {
  .contact .thumbnail {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact .dl-horizontal > dt {
    float: left;
    margin-right: 5px;
    width: auto;
  }
}
@media (max-width: 768px) {
  .contact .dl-horizontal > dd {
    margin-left: 0;
  }
}
.contact-form #jform_contact_emailmsg {
  width: 100%;
}
.contact-form #jform_contact_message {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .contact-form #jform_captcha-lbl {
    display: none;
  }
  .contact-form #recaptcha_image {
    width: 220px;
  }
  .contact-form #recaptcha_image img {
    max-width: 220px;
  }
  .contact-form #recaptcha_response_field {
    max-width: 220px;
  }
}
.contact .accordion-toggle {
  font-weight: bold;
}
#archive-items > li {
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
}
#archive-items .intro {
  clear: both;
  overflow: hidden;
}
.categories-list {
  margin-bottom: 20px;
}
.category-item:before,
.category-item:after {
  content: " ";
  display: table;
}
.category-item:after {
  clear: both;
}
.category-item .page-header {
  line-height: normal;
  padding: 10px 5px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.category-item .category-item {
  margin-bottom: 0;
  margin-left: 30px;
}
.category-item .category-item .page-header {
  font-size: 14px;
}
.cat-children .page-header {
  line-height: normal;
  padding: 10px 5px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.newsfeed-category > h2,
.newsfeed > h2 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.newsfeed-category .category-desc,
.newsfeed .category-desc {
  margin-bottom: 20px;
}
.newsfeed-category .category li:before,
.newsfeed .category li:before,
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  content: " ";
  display: table;
}
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  clear: both;
}
.newsfeed > h2 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.newsfeed .feed-description {
  margin-bottom: 20px;
  font-size: 16px;
}
.newsfeed .feed-item-description .feed-description {
  font-size: 14px;
}
.newsfeed ol li > a {
  font-weight: bold;
  font-size: 16px;
}
.article-content .pagination ul {
  border-left: 1px solid #eeeeee;
}
.article-content .pagination li {
  float: left;
  padding: 10px 20px;
  line-height: normal;
  border: 1px solid #eeeeee;
  border-left: 0;
}
.article-content .pagination li a {
  border: 0;
  text-decoration: none;
  background-color: transparent;
  line-height: normal;
  padding: 0;
}
.pagenavcounter {
  margin: 0 0 20px;
  font-weight: bold;
}
#article-index,
.article-index {
  margin: 0 0 20px 20px;
  padding: 10px;
  width: 25%;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}
#article-index ul,
.article-index ul {
  margin: 0;
  padding: 0;
  border: 0;
}
#article-index ul > li,
.article-index ul > li {
  border: 0;
  margin-top: 2px;
}
#article-index ul > li > a,
.article-index ul > li > a {
  border: 0;
  padding: 5px;
  border-radius: 4px;
}
#article-index ul > .active > a,
.article-index ul > .active > a {
  border: 0;
  background: #b980a4;
  color: #ffffff;
}
#article-index ul > .active > a:hover,
.article-index ul > .active > a:hover,
#article-index ul > .active > a:active,
.article-index ul > .active > a:active,
#article-index ul > .active > a:focus,
.article-index ul > .active > a:focus {
  border: 0;
  background: #b980a4;
  color: #ffffff;
}
.pagenav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagenav > li {
  margin: 0;
  padding: 0;
  float: left;
}
.pagenav > li.pagenav-prev,
.pagenav > li.previous {
  margin-right: 10px;
}
.pagenav li > a {
  padding: 10px 20px;
  line-height: normal;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.pagenav li > a:hover,
.pagenav li > a:active,
.pagenav li > a:focus {
  background-color: #eeeeee;
}
.items-more h3 {
  margin: 0 0 20px;
}
.items-more .nav > li {
  border-top: 1px solid #eeeeee;
}
.items-more .nav > li > a {
  padding: 6px 5px;
}
.back_button a {
  display: block;
  margin: 10px 0;
}
.filters {
  margin: 10px 0 5px;
}
.display-limit {
  margin: 10px 0 5px;
}
.filters .display-limit {
  float: right;
  text-align: right;
}
#system-message dt {
  font-weight: bold;
}
#system-message dd {
  font-weight: bold;
}
#system-message dd.message ul,
#system-message dd.error ul,
#system-message dd.notice ul {
  margin: 0;
  padding: 0;
}
#system-message dd.message ul li,
#system-message dd.error ul li,
#system-message dd.notice ul li {
  background: none;
  margin: 0;
  padding: 5px;
}
.alert-message {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-message hr {
  border-top-color: #c9e2b3;
}
.alert-message .alert-link {
  color: #356635;
}
.alert-notice {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-notice hr {
  border-top-color: #a6e1ec;
}
.alert-notice .alert-link {
  color: #2d6987;
}
.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #b94a48;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #953b39;
}
.tip-wrap {
  background: #fff6df;
  border: 1px solid #fb3;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 300px;
  z-index: 999;
}
.tip-title {
  border-bottom: 1px solid #fb3;
  font-weight: bold;
  padding: 5px 10px;
}
.tip-text {
  font-size: 14px;
  margin: 0;
  padding: 5px 10px;
}
.hasTip img {
  border: none;
  margin: 0 5px 0 0;
}
@media (min-width: 768px) {
  .languageswitcherload {
    float: right;
    width: 100%;
  }
  .languageswitcherload .mod-languages {
    text-align: right;
  }
}
div.calendar {
  width: 187px;
}
.edit.item-page fieldset .btn-toolbar {
  margin-top: 10px;
}
.iframe-bordered {
  border: 1px solid #dddddd;
}
.chzn-container {
  display: block;
}
.chzn-container-single .chzn-single,
.chzn-container-multi .chzn-choices .search-field input,
.chzn-container-single .chzn-search input {
  height: 26px;
}
.chzn-container-single .chzn-drop,
.chzn-container .chzn-drop {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.input-prepend .chzn-container-single .chzn-single {
  border-color: #cccccc;
  height: 26px;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-prepend .chzn-container-active .chzn-single-with-drop {
  border-radius: 0 3px 0 0;
}
.input-prepend .chzn-container-single .chzn-drop {
  border-color: #cccccc;
}
.btn-group .chzn-results {
  white-space: normal;
}

.page-header {
  padding-bottom: 9px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eeeeee;
}
.page-title,
.page-header h1 {
  line-height: 1;
  margin: 0;
}
.page-subheader {
  border-bottom: 1px solid #eeeeee;
  margin: 0 0 20px;
}
.page-subheader:before,
.page-subheader:after {
  content: " ";
  display: table;
}
.page-subheader:after {
  clear: both;
}
.page-subtitle,
.page-subheader h2 {
  line-height: 1;
  margin: 0;
}
.page-header + .page-subheader {
  margin-top: -20px;
}
.article-title,
.article-header h1 {
  margin: 0 0 20px 0;
}
.item-title {
  font-weight: bold;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3 {
  margin-top: 0;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.container .jumbotron {
  border-radius: 6px;
}
.masthead {
  padding: 40px 0;
  text-align: center;
}
.masthead p:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .masthead {
    padding: 80px 0;
  }
  .masthead h1 {
    font-size: 98px;
  }
  .masthead p {
    font-size: 28px;
  }
  .masthead .btn-lg {
    margin-top: 20px;
    padding: 18px 42px;
    font-size: 21px;
  }
}
.jumbotron-primary {
  background-color: #b980a4;
  color: #ffffff;
}
.jumbotron-primary h1,
.jumbotron-primary h2,
.jumbotron-primary h3 {
  color: #ffffff;
}
.jumbotron-primary p {
  color: #ffffff;
}
.jumbotron-primary .btn-primary {
  border-color: #fff;
}
.label:empty {
  display: none;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.page-header .label,
.page-header .badge {
  vertical-align: middle;
}
.alert h4 {
  color: inherit;
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}
a.list-group-item.active .list-group-item-heading,
a.list-group-item.active:hover .list-group-item-heading,
a.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}
a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
  color: #ffffff;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title > a {
  color: inherit;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.t3-header {
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
}
@media screen and (max-width: 768px) {
  .t3-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.logo {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .logo {
    text-align: left;
  }
}
.logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.logo-image {
  margin-top: 12px;
}
@media screen and (max-width: 768px) {
  .logo-image {
    margin-top: 0;
  }
}
.logo-image span,
.logo-image small {
  display: none;
}
.logo-text a {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}
.logo-text:hover a,
.logo-text a:hover,
.logo-text a:active,
.logo-text a:focus {
  text-decoration: none;
}
.logo-text .site-slogan {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
.head-search {
  margin-top: 20px;
}
.head-search:before,
.head-search:after {
  content: " ";
  display: table;
}
.head-search:after {
  clear: both;
}
.head-search form {
  margin: 0;
}
.head-search label {
  display: none;
}
.head-search .search {
  position: relative;
}
.head-search .search:before {
  font-family: "FontAwesome";
  content: "\f002";
  display: block;
  position: absolute;
  left: 10px;
  top: 6px;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .head-search .search {
    float: right;
  }
}
.head-search .form-control {
  width: 100%;
  padding-left: 30px;
}
@media screen and (min-width: 768px) {
  .head-search .form-control {
    width: 150px;
  }
  .head-search .form-control:focus {
    width: 200px;
  }
}
.t3-sl {
  padding-bottom: 40px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .t3-sl {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
.t3-mainbody {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-sidebar {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-sidebar-2 {
  font-weight: 300;
}
.footer {
  border-top: 2px solid #b980a4;
  background: #17222d;
  color: #888888;
  font-weight: 300;
  font-size: 14px;
  overflow: hidden;
}
.footer:before,
.footer:after {
  content: " ";
  display: table;
}
.footer:after {
  clear: both;
}
.footer small {
  display: block;
  font-size: 100%;
}
.t3-footnav {
  padding: 20px 0;
}
.t3-footnav:before,
.t3-footnav:after {
  content: " ";
  display: table;
}
.t3-footnav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .t3-footnav {
    padding: 40px 0;
  }
}
.t3-footnav .t3-module {
  background: #17222d;
  color: #888888;
  margin-top: 10px;
  margin-bottom: 10px;
}
.t3-footnav .t3-module .module-title {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
}
.t3-footnav .t3-module ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.t3-footnav .t3-module ul > li {
  line-height: 24px;
}
.t3-footnav .t3-module ul > li:before {
  content: "\f105";
  font-family: FontAwesome;
  float: left;
  padding-right: 10px;
}
.t3-footnav .t3-module ul > li > a {
  color: #888888;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.t3-footnav .t3-module ul > li > a:hover,
.t3-footnav .t3-module ul > li > a:active,
.t3-footnav .t3-module ul > li > a:focus {
  color: #b980a4;
}
.t3-footnav .t3-module .footer-social ul li {
  list-style: none;
}
.t3-footnav .t3-module .footer-social ul li:before {
  content: '';
}
.t3-copyright {
  border-top: 1px solid #eeeeee;
  font-size: 12px;
  padding: 40px 0 80px;
}
.t3-copyright:before,
.t3-copyright:after {
  content: " ";
  display: table;
}
.t3-copyright:after {
  clear: both;
}
.t3-copyright small {
  margin-bottom: 5px;
}
.copyright {
  margin-bottom: 20px;
}
.poweredby {
  text-align: center;
}
.poweredby:before,
.poweredby:after {
  content: " ";
  display: table;
}
.poweredby:after {
  clear: both;
}
@media screen and (min-width: 991px) {
  .poweredby {
    text-align: center;
  }
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  opacity: .8;
  display: inline-block;
}
.top-header {
  padding: 0;
  border-bottom: 1px solid #f2f2f2;
  font-weight: 300;
}
.top-header .top-phone,
.top-header .top-email {
  padding: 12px 12px 12px 0;
}
.top-header .top-phone a,
.top-header .top-email a {
  color: #888888;
}
.top-header .top-phone a:hover,
.top-header .top-email a:hover {
  color: #b980a4;
  text-decoration: none;
}
.top-header .t3-module {
  color: #949ba1;
  margin-bottom: 0;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .top-header .t3-module {
    margin-bottom: 0;
  }
}
.top-header .t3-module .module-inner {
  padding: 0;
}
.tp-caption {
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
}
.big_white {
  font-weight: 400 !important;
  background: transparent !important;
  line-height: 1.3em !important;
  font-size: 46px !important;
}
.big_black {
  font-weight: 400 !important;
  background: transparent !important;
  line-height: 1.3em !important;
  font-size: 46px !important;
}
.medium_white {
  font-weight: 1.3em !important;
  font-size: 30px !important;
  font-weight: 300 !important;
  color: #ffffff !important;
  text-align: center !important;
  text-transform: uppercase !important;
}
.medium_grey {
  font-weight: 1.3em !important;
  font-size: 32px !important;
  font-weight: 300 !important;
  color: #555555 !important;
  text-align: center !important;
  text-transform: uppercase !important;
  background: none !important;
  text-shadow: none !important;
}
.medium_black {
  font-weight: 1.3em !important;
  font-size: 30px !important;
  color: #000000 !important;
  font-weight: 300 !important;
}
@media screen and (max-width: 768px) {
  .big_black {
    font-weight: 300 !important;
    font-size: 18px !important;
    background: transparent !important;
    line-height: 20px !important;
  }
  .medium_black {
    font-weight: 300 !important;
    font-size: 14px !important;
    color: #000000 !important;
  }
  .big_white {
    font-weight: 300 !important;
    font-size: 18px !important;
    background: transparent !important;
    line-height: 40px !important;
  }
  .medium_white {
    font-weight: 300 !important;
    font-size: 14px !important;
    color: #ffffff !important;
    text-align: center !important;
    line-height: 20px !important;
  }
  .btn-slide {
    background-color: transparent;
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 300;
    color: #b980a4 !important;
    border: 1px solid #000000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
  }
  .btn-slide:hover {
    background-color: #b980a4;
    color: #ffffff !important;
    border: 1px solid #b980a4;
  }
  .btn-slide-white {
    background-color: transparent;
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff !important;
    border: 1px solid #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
  }
  .btn-slide-white:hover {
    background-color: #ffffff;
    color: #b980a4 !important;
    border: 1px solid #ffffff;
  }
}
.feature-wrap {
  text-align: center;
}
.feature-wrap .icon-wrap {
  text-align: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 3px solid #f5f5f5;
  border-radius: 100%;
  background: transparent;
  -webkit-transition: all 0.3s;
}
.feature-wrap .icon-wrap span {
  font-size: 44px;
  position: relative;
  top: 25px;
  left: 5px;
  color: #b980a4;
}
.feature-wrap h3 {
  font-weight: 300;
  margin-bottom: 20px !important;
  font-size: 20px !important;
  color: #2e2e2e;
}
.feature-wrap p {
  font-weight: 300;
  line-height: 1.5em;
}
.feature-wrap .btn-readmore {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-top: 20px;
}
.feature-wrap:hover {
  background: none;
}
.feature-wrap:hover .icon-wrap {
  -webkit-animation: toLeftFromRight 0.3s forwards;
  -moz-animation: toLeftFromRight 0.3s forwards;
  animation: toLeftFromRight 0.3s forwards;
  border: 3px solid #b980a4;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0);
}
.feature-wrap:hover .icon-wrap span {
  color: #b980a4;
}
.feature-wrap:hover .btn-readmore {
  color: #ffffff;
  background-color: #b980a4;
  border-color: #b980a4;
}
@media screen and (max-width: 768px) {
  .feature-wrap {
    margin-bottom: 30px;
  }
}
@-webkit-keyframes toLeftFromRight {
  49% {
    -webkit-transform: translate(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toLeftFromRight {
  49% {
    -moz-transform: translate(-100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toLeftFromRight {
  49% {
    transform: translate(-100%);
  }
  50% {
    opacity: 0;
    transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
.feature-list {
  padding-bottom: 5px;
}
.feature-list span {
  float: left;
  height: 100px;
  padding-right: 10px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.3s;
}
.feature-list:hover span {
  color: #b980a4;
}
.feature-list h3 {
  font-size: 20px;
  text-transform: uppercase;
}
.feature-bottom p > img {
  margin-top: 20px;
}
@media screen and (min-width: 992px) {
  .feature-bottom p > img {
    margin-top: 0;
  }
}
.feature-bottom p {
  font-weight: 300;
  line-height: 1.5em;
  padding: 0;
  font-size: 14px;
}
.service-top h3 {
  font-size: 34px;
  text-align: uppercase;
  color: #444;
  line-height: 1.3em;
  margin: 0;
}
.service-top p {
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}
.service-box {
  padding: 0;
  margin-bottom: 40px;
  font-weight: 300;
}
.service-box .service-icon {
  font-weight: 300;
  width: 46px;
  height: 120px;
  float: left;
  font-size: 16px;
  color: #b980a4;
  margin-right: 10px;
}
.service-box h3 {
  font-weight: 300;
  font-size: 22px !important;
  -webkit-font-smoothing: antialiased;
  margin-top: 0;
  color: #444;
  text-transform: uppercase;
}
.service-box p {
  line-height: 1.5em;
}
.mod-title p {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.mod-title h3 {
  margin: 0;
  text-align: center;
}
.nefario-latest-post {
  margin-right: -15px;
}
.nefario-latest-post .nspArt h4.nspHeader,
.nefario-latest-post .nspArt h4.nspHeader a {
  font-size: 18px;
  margin: 0;
  padding: 5px 0;
  line-height: 1.5em;
  font-weight: 300;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nefario-latest-post .nspArt h4.nspHeader:hover,
.nefario-latest-post .nspArt h4.nspHeader a:hover {
  color: #b980a4 !important;
}
.nefario-latest-post .nspArt p.nspText {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
}
.nefario-latest-post .nspArt img.nspImage {
  border-radius: 0px;
}
.nefario-latest-post .nspArt .nspInfo {
  font-size: 12px;
  color: #888888;
  padding: 0 0 5px;
  margin: 0;
  font-weight: 300;
}
.nefario-latest-post .btn-readmore {
  margin-top: 14px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.nefario-latest-post .nspArts {
  padding: 0;
}
@media screen and (max-width: 768px) {
  .nefario-latest-post {
    margin-right: 0;
  }
}
.footer .footer-social ul {
  margin: 0;
  padding: 0;
}
.footer .footer-social li {
  margin: 0;
  padding: 0 5px;
  float: left;
  list-style: none;
  font-size: 16px;
}
.footer .artsexylightbox {
  border: none !important;
}
.footer .acymailing_form .inputbox[type="text"] {
  background: #192430;
  border: 1px solid #000;
  line-height: 20px;
  padding: 18px 10px;
  border-radius: 0px !important;
  box-shadow: none;
  color: #888;
  font-size: 12px;
}
.footer .acymailing_form .acysubbuttons {
  text-align: left;
}
.footer .acymailing_form .acysubbuttons input.btn {
  line-height: 20px;
  padding: 8px 12px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border: none;
}
.footer .acymailing_form .acysubbuttons input.btn:hover {
  background: #333;
  color: #888888;
}
.footer table.acymailing_form {
  margin: 0 !important;
}
.footer .button {
  margin: 0;
}
.footer .nav-pills > li > a {
  border-radius: 0;
}
.footer .nav > li > a {
  padding: 5px 0;
}
.footer .nav > li > a:first-child {
  padding: 0 0 5px 0;
}
.footer .nav > li > a:hover,
.footer .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.acymailing_module_form .acymailing_introtext {
  padding-bottom: 10px !important;
}
.subscribe .acymailing_module_form .acymailing_introtext {
  padding-bottom: 26px !important;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.subscribe .onefield {
  width: 55%;
  margin: auto !important;
}
.subscribe .acysubbuttons {
  display: inline-block;
}
.subscribe .subbutton {
  padding: 10px 16px;
  margin-top: 25px;
  border: 1px solid #fff;
}
.subscribe input[type="text"] {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #fafafa;
  background: #b4769d;
  padding: 25px;
  text-align: center;
  color: #fff !important;
  display: inline;
}
.subscribe .acymailing_form .acysubbuttons {
  text-align: left;
}
.subscribe .inputbox::-webkit-input-placeholder {
  color: #ffffff;
  text-align: center;
}
.subscribe .inputbox:-moz-placeholder {
  
  color: #ffffff;
  text-align: center;
}
.subscribe .inputbox::-moz-placeholder {
  
  color: #ffffff;
  text-align: center;
}
.subscribe .inputbox:-ms-input-placeholder {
  color: #ffffff;
  text-align: center;
}
.footer-social ul {
  margin: 0;
  padding: 0;
}
.footer-social li {
  margin: 0;
  padding: 0 5px;
  float: left;
  list-style: none;
  font-size: 16px;
}
.agnes-copyright {
  font-size: 12px;
  padding: 22px 0 0;
  background: #0f161e;
  color: #555555;
  border-top: 1px solid #333;
}
.agnes-copyright a {
  color: #707070;
}
.agnes-copyright a:hover {
  text-decoration: none;
  color: #ffffff;
}
.agnes-copyright small {
  font-size: 13px;
  font-weight: 300;
  color: #888888;
}
.back-to-top {
  background-color: #000;
  bottom: 15px;
  height: 40px;
  margin: 0;
  position: fixed;
  right: 15px;
  width: 40px;
  z-index: 1000;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 350ms;
  -o-transition: opacity 350ms;
  transition: opacity 350ms;
}
.back-to-top.reveal {
  opacity: 30;
  filter: alpha(opacity=3000);
  cursor: pointer;
}
.back-to-top.reveal:hover,
.back-to-top.reveal:focus,
.back-to-top.reveal:active {
  opacity: 100;
  filter: alpha(opacity=10000);
}
.back-to-top i {
  color: #ffffff;
  font-size: 12px;
  line-height: 1em;
  left: 50%;
  margin-top: -7px;
  margin-left: -3px;
  position: absolute;
  top: 50%;
}
.artsexylightbox {
  border: none !important;
}
.fa-ul em {
  color: #b980a4;
}
.footer-menu .nav {
  text-align: right;
}
.footer-menu .nav > li > a:hover {
  background: none;
}
.footer-menu .nav-stacked > li {
  float: none;
  display: inline-block;
  text-align: right;
}
.footer-menu .nav-pills > li > a {
  color: #888888;
  padding: 10px 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.footer-menu .nav-pills > li > a:hover {
  color: #ffffff;
}
.footer-menu .nav-pills > li.active > a {
  color: #888888;
  background: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.footer-menu .nav-pills > li.active > a:hover {
  color: #ffffff;
}
.about-slider {
  margin: 20px 0;
}
.agnes-progressbar {
  margin: 10px 0;
}
.article-info dd strong {
  font-weight: 300 !important;
}

.k2AuthorsListBlock ul {
  margin: 0;
  padding: 0;
}
.k2AuthorsListBlock li {
  margin: 0;
  padding: 5px 0;
  list-style: none;
}
.k2AuthorsListBlock li a {
  font-weight: 300;
}
.k2AuthorsListBlock li a .catTitle,
.k2AuthorsListBlock li a .catCounter {
  font-size: 14px;
  font-weight: 300;
}
.k2AuthorsListBlock li a:hover {
  text-decoration: none;
}

.agnes-meta a:hover {
  color: #b980a4;
  text-decoration: none;
}
.catItemTitle span {
  color: #b980a4;
}
.agens-social {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
h3.itemAuthorName {
  margin: 0;
  font-weight: 300;
  font-family: roboto;
}
.itemCommentsForm {
  font-family: roboto;
  font-weight: 300;
}
.itemCommentsForm h3 {
  font-family: roboto;
}
.itemCommentsForm label {
  font-weight: 300;
  margin: 10px 0;
}
.itemCommentsForm input[type="text"],
.itemCommentsForm .inputbox {
  border-radius: 0;
}
.itemCommentsForm .btn {
  border-radius: 0;
}
.itemComments h2.itemCommentsCounter {
  padding: 20px 0;
}
div.k2ItemsBlock ul li a.moduleItemTitle {
  color: #888888;
  font-weight: 300;
}
div.k2ItemsBlock ul li a.moduleItemTitle:hover {
  color: #b980a4;
}
a.k2ReadMore:hover {
  text-decoration: none;
}
.about-slider {
  margin: 20px 0;
}
.agnes-progressbar {
  margin: 10px 0;
}

div.k2TagCloudBlock {
  padding: 0px;
}
div.k2TagCloudBlock a {
  padding: 8px;
  float: left;
  display: block;
  border: 1px solid #b980a4;
  border-radius: 0;
  margin: 2px;
}
div.k2TagCloudBlock a:hover {
  background: #b980a4;
  color: #fff;
  text-decoration: none;
}

div.k2CategoriesListBlock ul {
  margin: 0;
  padding: 0;
}
div.k2CategoriesListBlock li {
  margin: 0;
  padding: 5px 0;
  list-style: none;
}
div.k2CategoriesListBlock li a {
  font-weight: 300;
}
div.k2CategoriesListBlock li a .catTitle,
div.k2CategoriesListBlock li a .catCounter {
  font-size: 14px;
  font-weight: 300;
}
div.k2CategoriesListBlock li a:hover {
  text-decoration: none;
}
.t3-content {
  
  
  font-weight: 300;
  
  
  
  
  
}
.t3-content .article-title,
.t3-content .article-header h1 {
  font-size: 28px;
  font-weight: 300;
}
.t3-content .article-title a:hover {
  text-decoration: none;
}
.t3-content .pagenav li > a:hover {
  text-decoration: none;
}
.t3-content .item-page h2 {
  font-size: 24px;
  margin: 0;
  padding: 0 0 10px 0;
}
.t3-content .item-page p {
  font-size: 14px;
  line-height: 24px;
}
.t3-content .item-page .pull-left.article-image-full {
  padding: 5px 20px 20px 0;
}
.t3-content .login-wrap .form-group label {
  font-weight: normal;
}
.t3-content .login-wrap .form-group input[type=text],
.t3-content .login-wrap .form-group input[type=email],
.t3-content .login-wrap .form-group input[type=password] {
  width: auto;
  height: 40px;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 16px;
  background: transparent;
}
.t3-content .login-wrap .form-group textarea {
  border-radius: 0;
  box-shadow: none;
  height: 200px;
}
.t3-content .itemAuthorLatest h3,
.t3-content .catItemHeader h3.catItemTitle,
.t3-content h3.userItemTitle,
.t3-content .itemHeader h2.itemTitle,
.t3-content .itemListCategory h2,
.t3-content .userBlock h2 {
  font-weight: 300;
}
.t3-content .catItemIntroText,
.t3-content .userItemIntroText,
.t3-content h3.tagItemTitle,
.t3-content .tagItemIntroText,
.t3-content .itemIntroText {
  font-weight: 300;
}
.t3-content .k2AccountPage {
  font-weight: 300;
}
.t3-content .k2AccountPage label {
  font-weight: 300;
  padding: 5px 10px;
}
.t3-content .k2AccountPage .k2AccountPage th.k2ProfileHeading {
  font-weight: 300;
}
.t3-content .k2AccountPage .k2AccountPage th.k2ProfileHeading span {
  font-size: 12px;
}
.t3-content .k2AccountPage input[type=text],
.t3-content .k2AccountPage input[type=email],
.t3-content .k2AccountPage input[type=password] {
  width: auto;
  height: 40px;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 16px;
  background: transparent;
}
.t3-content .k2AccountPage select {
  width: 300px;
}
.t3-content .profile dt {
  font-weight: 300;
}
.t3-content .profile .button2-left {
  float: right;
}
.t3-content .btn-toolbar {
  float: right;
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  h3.tagItemTitle,
  h3.userItemTitle {
    clear: both;
  }
  span.tagItemImage img,
  span.userItemImage img {
    width: 100% !important;
  }
}

.staff-member {
  float: left;
  width: 100%;
  padding-bottom: 40px;
}
.staff-member-image {
  margin: 0 auto;
  background: #e5e5e5;
  overflow: hidden;
}
.staff-member-image img {
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
}
.staff-member-name {
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  background: #b980a4;
}
.staff-member-name h1,
.staff-member-name h2,
.staff-member-name h3,
.staff-member-name h4,
.staff-member-name h5,
.staff-member-name h6 {
  color: #FFF;
  margin: 0;
}
.staff-member-name p {
  margin: 0;
}
.staff-member-social ul {
  margin: 0;
  line-height: 2.2;
}
.staff-member-social ul li a {
  line-height: 2.2;
  color: #b980a4;
}
.icon-wrapper {
  border: 1px solid #b980a4;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  height: 36px;
  width: 36px;
  line-height: 33px;
  text-align: center;
}
.icon-wrapper .fa {
  margin-left: 5px;
}

.staff-member-toggle {
  position: relative;
}
.staff-member-toggle:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.staff-member-toggle .staff-member-name {
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
}
.staff-member-toggle .staff-member-name .toggle-id:after {
  content: "\f063";
  font-family: 'FontAwesome';
}
.staff-member-toggle .staff-member-name.toggle-staff.toggle-close .toggle-id:after {
  content: "\f062";
  font-family: 'FontAwesome';
}
.staff-member-toggle .staff-info {
  position: absolute;
  z-index: 99;
  color: #fff;
  padding: 20px 10px;
  display: none;
  border-top: 1px solid #fff;
  text-align: center;
}
.staff-member-toggle .staff-info a {
  color: #fff;
}
.tooltipster-default .tooltipster-content {
  font-family: Roboto;
}
.best-value .package-header {
  background: #b980a4;
}
.best-value .package-header h4 {
  color: #ffffff;
}
.contact-form fieldset .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.contact-form fieldset .form-group {
  margin-bottom: 0;
}
.contact-form fieldset .form-group label {
  font-weight: 300 !important;
}
.spotlight {
  padding: 40px 0 0;
}
.action-2 h3 {
  margin: 0;
  padding: 0 0 30px;
  line-height: 1.5em;
  font-size: 40px;
}
.action-2 p {
  font-weight: 300;
}
.action-2 .btn {
  margin-top: 40px;
}

ul.check {
  margin: 0;
  padding: 0;
}
ul.check li {
  margin: 0;
  padding: 3px 0;
  list-style: none;
}
ul.check li:before {
  content: '\f00c';
  font-family: FontAwesome;
  color: #b980a4;
  padding: 0 5px 0 0;
}
#ezblog-menu .blog-navi li.toolbar-item > a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#ezblog-menu .blog-navi li.toolbar-item > a:hover,
#ezblog-menu .blog-navi li.toolbar-item > a:focus {
  background: #b980a4;
  color: #ffffff;
}
#ezblog-menu .blog-navi li.toolbar-item.item-active > a {
  background: #b980a4;
  color: #ffffff;
}
#ezblog-body a:hover {
  text-decoration: none;
}
#eblog-wrapper .ratings-value {
  background: #b980a4;
  color: #ffffff;
}
#eblog-wrapper .blog-taglist.black-tag a:hover span {
  color: #b980a4;
}
#eblog-wrapper .list-pagination {
  border-top: 1px solid #b980a4;
}
#eblog-wrapper .list-pagination li a:hover {
  border-top: 3px solid #b980a4;
}
#eblog-wrapper .list-pagination li.active b {
  border-top: 3px solid #b980a4;
}
#ezblog-body .tag-featured {
  background: #b980a4;
}